.list {
    background: #ffff;
    border-radius: 1rem;
    margin-top: -10rem;
    padding: 70px 60px;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

header h2 {
    color: #111;
    font-size: 2.25rem;
}

.input-container {
    display: flex;
}

.input-task{
    display: flex;
    gap: 0.25rem;
    align-items: center;
    background: #fff;
    font-size: 16px;    
    border: none;
    box-shadow: 2px 4px 10px #57657470;
}

input {
    flex: 1;
    background: #fff;
    border: 0.5 solid #60C3D8;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
}

input:hover{
    border: solid 1px #8338ec;
    border-right: none;
}

button {
    font-weight: 600;
    border-radius: 8px;
    border: 0;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px;
} 

.add-task {
    margin-left: 10px;
    display: flex;
    gap: 0.25rem;
    align-items: center;
    background: #a74dd7;
    cursor: pointer;
}

.add-task:hover{
    background-color: #7d0ee4;
    transition: linear .5s;
}

.remove-task {
    background:rgb(230, 79, 79);
    cursor: pointer;
}

.remove-task:hover{
    background:rgb(226, 34, 34);
    transition: linear .5s;
}

.input-checkbox{
    cursor: pointer;
}

main {
    width: 70%;
    padding-left: 10%;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border-bottom: 0.7px solid #7e7d7d;
    padding: 1rem 0;
}
    
main ul li div {
    display: flex;
    align-items: center;
    gap: 14px;
    outline: 0;
}

ul li div p {
    font-size: 1rem;
    color: #111;
}

.completed p {
    text-decoration:line-through;
    opacity: 0.6;
}