.header{
    background: rgb(191,118,230);
    background: linear-gradient(90deg, rgba(191,118,230,1) 9%, rgba(116,66,162,1) 51%, rgba(117,70,168,1) 80%, rgba(120,94,199,1) 91%);
    padding-top: 0.5rem;
}

.header div {
    margin-right: 900px;
    max-width: 1120px;
    padding: 2rem 1rem 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}