.footer {
    display: flex;
    justify-content: center;
    background-color: #efeef090;
}

.textoFooter{
    font-size: 20px;
    color:black;
}
.linkGitHubAutora, .linkGitHubReprograma {
    text-decoration: none;
}

.autora{
    font-size: 20px;
    font-weight: 700;
    color: #a639f0;
}

.reprograma{
    font-size: 20px;
    font-weight: 600;
    color: #c27beb;
}
